{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Reglas de asociación </h5>
          </div>

         <div class="card-body">
          <form action = "/apriori_resultados" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
            <div class="col-md-15 pr-md-10">
                <label>Selecciona un archivo</label>
                <input type="file" class="btn btn-fill btn-primary" name="file"></br>
            </div>            
            <button type="submit" class="btn btn-fill btn-primary">Cargar</button>  
          </form>
         </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}