{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Primer algoritmo: Reglas de asociación</h3>
          </div>

         <div class="card-body">
          <form action = "/apriori" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
            <div class="col-md-15 pr-md-10">
                <label>Selecciona un archivo</label> 
                <br></br>
                <input type="file" class="btn btn-fill btn-primary" name="file"></br>
            </div>            
            <br></br>
            <button type="submit" class="btn btn-fill btn-primary">Cargar archivo</button>  
          </form>

          <br></br>

        {% if filename %}
          <h3 class="card-title">Resultados</h3>
          <p>Nombre del archivo: <span class="text-primary"> {{filename}} </span></p>
          <p>Antes de ejecutar el algoritmo es recomendable observar la distribución de la frecuencia de los elementos.</p>
          <p>Se muestra un gráfico de barras con la frecuencia de cada uno de los ítems antes de elegir un valor de Confianza, Soporte y Elevación.</p>
          <img src="{{ image }}"/> 
          <br></br>
          <br><p>De acuerdo a la gráfica anterior, elije los valores de Soporte, Confianza y Elevación. Carga nuevamente el archivo csv.</p></br>
          <div class="card-body">
            <form action = "/apriori_resultados" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">  
              <div class="col-md-15 pr-md-10">
                <label>Selecciona un archivo</label>
                <br></br>
                <input type="file" class="btn btn-fill btn-primary" name="file"></br>
              </div>
              <br></br>
              <div class="row">    
                  <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                      <label>Soporte mínimo</label>
                      <input type="text" class="form-control" placeholder="Ej: 0.0045" name="support">
                    </div>
                  </div>
              </div>
  
              <div class="row">    
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>Confianza</label>
                    <input type="text" class="form-control" placeholder="Ej: 0.2" name="confidence">
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6 pl-md-6">
                      <div class="form-group">
                        <label>Elevación</label>
                        <input type="text" class="form-control" placeholder="Ej: 3" name="lift">
                      </div>
                  </div>
              </div>

             <button type="submit" class="btn btn-fill btn-primary">OK</button>    
            </form>
          </div>
         {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}