{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Reglas de asociación </h5>
          </div>

         <div class="card-body">
          <form action = "/apriori" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
            <div class="col-md-15 pr-md-10">
                <label>Selecciona un archivo</label>
                <input type="file" class="btn btn-fill btn-primary" name="file"></br>
            </div>            
            <button type="submit" class="btn btn-fill btn-primary">Cargar archivo</button>  
          </form>

          {% if filename %}
          <h3 class="card-title">Resultados</h3>
          <p>
            Nombre del archivo: 
            <span class="text-primary"> {{filename}} </span>
          </p>

          <div class="card-body">
            <form action = "/apriori_resultados" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">       
              <div class="col-md-15 pr-md-10">
                <label>Selecciona un archivo</label>
                <input type="file" class="btn btn-fill btn-primary" name="file"></br>
              </div>
              <div class="row">    
                  <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                      <label>Soporte mínimo</label>
                      <input type="text" class="form-control" placeholder="Ej: 0.0045" name="support">
                    </div>
                  </div>
              </div>
  
              <div class="row">    
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>Confianza</label>
                    <input type="text" class="form-control" placeholder="Ej: 0.2" name="confidence">
                  </div>
                </div>
            </div>
  
  
              <div class="row">
                  <div class="col-md-6 pl-md-6">
                      <div class="form-group">
                        <label>Elevación</label>
                        <input type="text" class="form-control" placeholder="Ej: 3" name="lift">
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-fill btn-primary">OK</button>    
            </form>
  
        </div>

  
          {% endif %}
         </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}