{% extends "layouts/base.html" %}

{% block title %} Clustering {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cuarto algoritmo: Bosques Aleatorios o Múltiples</h3>
                </div>

                <div class="card-body">
                    <form action="/bosques" onsubmit="Validate(this);" method="POST" enctype="multipart/form-data">
                        <div class="col-md-15 pr-md-10">
                            <label>Selecciona un archivo</label>
                            <br></br>
                            <input type="file" class="btn btn-fill btn-primary" name="file">
                        </div>
                        <br></br>
                        <div class="col-md-15 pr-md-10">
                            <label>Selecciona el tipo de algoritmo:</label>
                            <br></br>
                            <select name="algorithm" class="btn btn-fill btn-primary">
                                <option value="random_forest">Árboles Aleatorios</option>
                                <option value="multiple_trees">Múltiples Árboles</option>
                            </select>
                        </div>
                        <br></br>
                        <button type="submit" class="btn btn-fill btn-primary">Cargar archivo</button>
                    </form>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}