{% extends "layouts/base.html" %}

{% block title %}Clustering{% endblock %} 

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Segundo algoritmo: Clustering</h3>
                </div>

                <div class="card-body">
                    <h1>Clustering Particional</h1>

                    <h2>Scatter Plot</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">El scatter plot muestra la distribución de los datos en un plano bidimensional. Cada punto representa una muestra y su posición relativa indica su similitud o proximidad en el espacio de características.</p>
                    </blockquote>
                    <img src="{{ scatter_plot_path }}" alt="Scatter Plot">

                    <h2>Elbow Curve</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">La curva del codo (elbow curve) es una representación gráfica que muestra la relación entre el número de clusters y la variabilidad dentro de los clusters. Ayuda a determinar el número óptimo de clusters identificando el "codo" en la curva, que indica el punto de menor ganancia al agregar más clusters.</p>
                    </blockquote>
                    <img src="{{ elbow_plot_path }}" alt="Elbow Curve">

                    <h2>Centroids</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">Los centroides son puntos representativos de cada cluster en el clustering particional. Representan el centroide del grupo de muestras asignadas a cada cluster y pueden ser útiles para comprender las características centrales de cada grupo.</p>
                    </blockquote>
                    {{ centroids | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
