{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resultados</h3>
          <p>
            Nombre del archivo: 
            <span class="text-primary"> {{filename}} </span>
          </p>
          <p>
            Contenido del archivo: 
            <span class="text-primary"> {{content}} </span>
          </p>

        </div>
      </div>
    </div>
  </div>

  {% if plot_url %}
  <img src= {{plot_url}} alt = "Chart cannot be displayed">
  {% endif %}
  
</div>



{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

 

                                     