{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Resultados</h5>
        </div>
          <h3>Input file: {{filename}}</h3>
          <h3>Contenido: <b><i>{{ content }}  </i>  </b></h3>
           
 
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}