{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resultados</h3>
          <p>
            Soporte mínimo: <span class="text-primary"> {{s}} </span>
          </p> 
          <p>
            Confianza: <span class="text-primary"> {{c}} </span>
          </p> 
          <p>
            Elevación: <span class="text-primary"> {{l}} </span>
          </p> 
          <p>
            Resultados: <span class="text-primary">{{ ResultadosC1 }} </span>
          </p>
          <p>
            Número de reglas totales: <span class="text-primary">{{ total_item }} </span>
          </p>
        </div>  
      </div>
    </div>
  </div>
</div>

{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

 

                                     