{% extends "layouts/base.html" %}

{% block title %}Clustering{% endblock %} 

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">¿Quiénes somos?</h3>
                </div>

                <div class="card-body">
                    <h1>Algoritmos</h1>

                    <h2>Apriori</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0"> Es un algoritmo de minería de datos utilizado para el descubrimiento de patrones frecuentes en conjuntos de datos. Se utiliza comúnmente en el análisis de cestas de compra para identificar asociaciones entre diferentes elementos. El algoritmo Apriori busca conjuntos de elementos que aparecen juntos con una frecuencia superior a un umbral predefinido, lo que permite descubrir reglas de asociación útiles.</p>
                    </blockquote>

                    <h2>Clustering</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">Es una técnica de aprendizaje no supervisado utilizada para agrupar objetos o muestras similares en conjuntos llamados "clusters". El objetivo es que los objetos dentro de un mismo cluster sean más similares entre sí que con los objetos de otros clusters. Los algoritmos de clustering buscan encontrar estructuras y patrones en los datos sin tener etiquetas de clase previas.</p>
                    </blockquote>

                    <h2>Métricas</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">En el contexto del análisis de datos y aprendizaje automático, las métricas se refieren a medidas utilizadas para evaluar el rendimiento de un modelo o algoritmo. Estas medidas proporcionan una evaluación cuantitativa de la calidad de los resultados obtenidos. Ejemplos comunes de métricas incluyen precisión, recall, F1-score y exactitud, dependiendo del tipo de problema y el objetivo de evaluación.</p>
                    </blockquote>
                        
                    <h2>Logística</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">En el contexto de la optimización y la gestión de la cadena de suministro, la logística se refiere al proceso de planificación, implementación y control del flujo eficiente de bienes, servicios e información desde el punto de origen hasta el punto de consumo. Implica la gestión de actividades como el transporte, almacenamiento, inventario y distribución para asegurar la entrega oportuna y efectiva de los productos o servicios.</p>
                    </blockquote>

                    <h2>Bosques y Árboles</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0">En el aprendizaje automático, los bosques y los árboles se refieren a los algoritmos de aprendizaje basados en árboles de decisión. Los árboles de decisión son modelos de aprendizaje automático que representan decisiones y sus posibles consecuencias en forma de árbol. Los bosques aleatorios (Random Forests) son un conjunto de árboles de decisión combinados para realizar predicciones más precisas y estables mediante la agregación de las decisiones de múltiples árboles.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

