{% extends "layouts/base.html" %}

{% block title %} Apriori {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Resultados</h3>
                    <p>
                        Nombre del archivo: <span class="text-primary"> {{filename}} </span>
                    </p>
                    Matriz de Chevyshev y Normalizada
                    
                    <table class="table table-bordered" id="displaytable">
                        <tr>
                            {% for col in column_names %}
                            <th>{{col}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in row_data %}
                        <tr>
                            {% for col, row_ in zip(column_names, row) %}
    
                            <td>{{row_}}</td>
        
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    
                    </table>
                

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}