{% extends "layouts/base.html" %}

{% block title %}video{% endblock %} 

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Video explicativo</h3>
                </div>

                <div class="card-body">
                    <h1>Algoritmos</h1>

                    <h2>Video a YT</h2>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-0"> https://youtu.be/mlChD289p7g </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}